services:
  db:
    image: postgres:12.2
    ports:
      - "5433:5432"
    restart: always
    environment:

      POSTGRES_DB: blog_db
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: changeme


  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080
